<!DOCTYPE html>
<html>
<body>
    <head> <link rel="stylesheet" type="text/css"href=style.css>
        </head>
    
    <h1>Transaction Reciept</h1>
    
    
    <p>
        
        Transaction ID: <%= transaction_id %>
        <br> 
        Thank you for using LIFEfficiency.
        <br>
        The transaction was successfully completed.
        <br>
        Click <a href="/">[LIFEfficiency.com]</a> to return.
        <br>
        <img src="backsplash.png">
    </p>
    
</body>
</html>